/*Definindo variáveis de cores do site no arquivo raiz(root)*/
:root{
    --vermelho:#E50914;
    --preta:#141414;
}


*{
  margin: 0;
  padding: 0; 
  box-sizing: border-box; /*Define que os elementos filhos terá o tamanho definido pelo pai dentro de uma caixa*/
  font-family: sans-serif;
}

html{
    scroll-behavior: smooth;
}



/*elementos base*/
body{
    background-color: var(--preta);
    color: white;
}

header .container{
    display: flex;
    flex-direction: row; /*Vem como padrão no flex, explícito apenas para nível semântico*/
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    
}

header .logo{
    color: var(--vermelho);
    font-family: 'Arial Black';
    font-size: 35px;
    margin-left: 15px;
}

header nav a{
    text-decoration: none;
    color: #AAA;
    margin-right: 15px;
    
}

header nav a:hover{
    color: #fff;

}


/*elementos do popup em tela */
.popup-wrapper{
    display: none;
    background-color: var(--preta);
    width: 50%;
    height: 330px;
    padding: 30px;
    margin: auto;
    margin-top: -16%;
    z-index: 10;
    
  
}
.popup-content p{
    text-align: justify;
    font-size: 14px;
    margin-top: 40px;
    
}
.popup-close{
    float: right;
    color: white;
    cursor: pointer;
    padding: 12px;
 
}
.popup-close:hover{
    color: var(--vermelho);
    background-color: rgba(0, 0, 0, 0.50);
    transition: 0.5s;
    border-radius: 350px;
    font-size: 15px;
  
}





/*cartaz do filme principal*/



.filme-principal{
    background-image: linear-gradient(rgba(0,0,0,.70), rgba(0,0,0,.70)100%), url(/clone-netflix/img/thumb-1920-1072652.jpg);
    font-size: 16px;
    background-size: cover;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;  
     
    
}

.filme-principal .container{

    padding: 40px;
    width: 70%;
    
   
}

.filme-principal .descricao{
    
    
    text-align: justify;
         
}

.titulo{
    margin-bottom: 4%;
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;    
}

.sinopse{
  
  margin-bottom: 8px;  
}

.autor{
   margin-top: 12px;
   color: #AAA;
}

.botoes{
  margin-top: 8%;
  display: inline-block;
}

.botao{
    padding: 15px;
    background-color:var(--vermelho);
    border: none;
    color: white;
    cursor: pointer; 
    margin-right: 10px; 
    font-size: 12px; 
    transition: 0.5s ease all;
        

}

.botao:hover{
    background-color:rgba(0, 0, 0, 0.50);
   
}

.botao i{
    margin-right: 8px;
}

.botao a{
    text-decoration: none;
    color: white;
}


.box-filme{
    height: 100%;
    width: 100%;
    display: block;

}

.carrosel-filmes{
    margin-top: 10px;
}

.category{
    margin: 12px;
    
    
}

.rodape{
    background-color: rgba(0, 0, 0, 0.6);
    height: 350px;
   

}

.container-footer{
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content: space-between;
    padding: 120px;
    color: #AAA;
  
}
  
  .container-footer a{
      text-decoration: none;
      color: #AAA;
  }

  .container-footer a:hover{
      color: var(--vermelho);
      transition: 0.5s;
  }

.gab-cardoso{
    color:#AAA ;
    text-align: center;
    margin-top: 50px;
}